@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  font-size: 16px;
}

/* hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  scrollbar-width: none;
}
.scrollbar-hide {
  -webkit-overflow-scrolling: touch;
}
